:root {
	/* https://colorhunt.co/palette/040d12183d3d5c837493b1a6 */
	/* https://stackoverflow.com/questions/24933430/img-src-svg-changing-the-styles-with-css */
	/* https://coolors.co/palette/ff7b00-ff8800-ff9500-ffa200-ffaa00-ffb700-ffc300-ffd000-ffdd00-ffea00
    https://coolors.co/palette/d8f3dc-b7e4c7-95d5b2-74c69d-52b788-40916c-2d6a4f-1b4332-081c15
    https://coolors.co/palette/d9ed92-b5e48c-99d98c-76c893-52b69a-34a0a4-168aad-1a759f-1e6091-184e77
    https://coolors.co/palette/f94144-f3722c-f8961e-f9844a-f9c74f-90be6d-43aa8b-4d908e-577590-277da1 
    
    current : https://maketintsandshades.com/#11212d
    
    */

	--primary-background: #181f24;
	--primary-color: #070d12;
	--secondary-color: #11212d;
	--mid-color1: #030709;
	--light-color1: #a0a6ab;
	--light-color3: #414d57;
	--light-color4: #707a81;
	--row-color1: #293742;
	--row-color2: #293742;
	--row-color3: #414d57;
	--font-default: #e7e9ea;
	--editable-color1: #84d3fa;
	--error-color: red;
}

body {
	/* font-family: system-ui; */
	font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, Calibri,
		Helvetica, sans-serif;
	background: var(--primary-background);
	caret-color: transparent;
	color: var(--font-default);
}

body input {
	color: var(--font-default);
}

.per-title {
	text-align: center;
	margin: 0 auto;
	background: linear-gradient(to bottom left, #49041f, #ff6b08, #f7d202);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
}

.per_table {
	width: 95%;
	margin: 0 auto;
	border-radius: 1px;
	box-shadow: -2px 3px 14px rgb(0 0 0 / 50%);
	font-size: 0.75em;
}

.table-heads {
	color: var(--light-color1);
	background-color: var(--primary-color);
	font-weight: bold;
}

#startDate {
	color: var(--editable-color1);
}

input#startDate:focus {
	outline: none;
}

input,
textarea {
	background: transparent;
	border: none;
}

.description-text {
	width: 100%;
	resize: none;
}

.textCenter {
	text-align: center;
}

.textRight {
    text-align: right;
}

.fontWeightNormal {
	font-weight: lighter;
}

.fontWeightBold {
	font-weight: bold;
}

.editable {
	color: var(--editable-color1);
}

tbody .editable {
	border-bottom: 1px solid var(--mid-color1);
}

.editable:focus {
	outline: none;
	border-bottom: 1px solid var(--editable-color1);
}

thead td {
	border-left: 1px solid var(--light-color3);
	border-bottom: 1px solid var(--light-color3);
	text-align: left;
	padding: 0.2% 0.3%;
}

thead tr:first-child td {
	border-top: 1px solid var(--light-color3);
}

thead tr:last-child td,
thead tr:first-child td:first-child {
	border-bottom: none;
}

thead tr td:last-child {
	border-right: 1px solid var(--light-color3);
}

tbody td {
	text-align: left;
	padding: 0.2% 0.3%;
}

.notes-head {
	background-color: var(--secondary-color);
	color: var(--light-color1);
}

.notes-head td {
	border-top: 1px solid var(--mid-color1);
}

.note-header {
	padding: 0.2em 0 0em 1.5em;
	font-weight: bolder;
	font-size: 13px;
}

.editable-row {
	background-color: var(--row-color2);
	text-align: center;
}

.editable-row td {
	text-align: center;
	border-bottom: 1px solid var(--light-color4);
	border-top: 1px solid var(--light-color4);
}

.editable-row .calc {
	width: 47px;
	text-align: right;
}

.editable-row .calced {
	width: 50px;
}

.calced {
	text-align: right;
}

.calced:focus {
	border: none;
	outline: none;
}

.caret-visible {
	caret-color: yellow;
}

.editable-row:nth-child(odd) {
	background-color: var(--row-color3);
}

.add-button-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.add-new {
	color: var(--editable-color1);
	font-weight: bolder;
	cursor: pointer;
}

.feather-plus-square {
	color: var(--editable-color1);
}

.action {
	transform: rotate(270deg);
}

.calc-error {
	color: var(--error-color);
	border-color: var(--error-color) !important;
}

#total-gm {
	width: 40px;
	text-align: center;
	position: absolute;
	margin-top: 0.2em;
}

#add-weight {
	color: var(--editable-color1);
	font-weight: bolder;
	cursor: pointer;
	background-color: transparent;
	border: none;
}

.custom-dropdown {
	position: relative;
	display: inline-block;
	width: 100%;
}

.dropdownTrigger {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	right: 0;
}

.dropdown-trigger {
	width: 100%;
}

.dropdown-trigger:focus {
	outline: none;
}

.dropdown-options {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	border: 1px solid var(--primary-color);
	border-top: none;
	border-radius: 0 0 4px 4px;
	overflow-y: auto;
	display: none;
	background: var(--row-color1);
	z-index: 9;
}

.dropdown-option {
	cursor: pointer;
	transition: background-color 0.2s;
	padding: 9px 0 5px 5px;
	text-align: left;
}

.dropdown-option:hover {
	background-color: var(--primary-color);
}

.display-block {
	display: block;
}
